.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache
test_debug.php
.env
.env.local
.env.*.local
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Ehthumbs.db
Desktop.ini
.idea/
*.iml
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace
*.log
/tests/coverage/
/build/